{% extends "sablon.html" %} {% block icerik %}
    <div class="ftco-blocks-cover-1">
        <marquee behavior="alternate"><H1> HOŞGELDİNİZ!</H1></marquee> 
        <div class="site-section-cover overlay" style="background-image: url('static/img/anasayfa.jpg')">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-5" data-aos="fade-right">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

   
    </div>
    
    {% endblock %}